#AccountSetting-top-div{
    width: 90%;
    height: 30%;
    margin-left: 5%;
}
#AccountSetting-form p{
    margin-top: 20px;
}
#AccountSetting-top-div-one{
    font-weight: bold;
    font-size: 25px;
}
#AccountSetting-form .AccountSetting-top-div-account{
    font-size: 20px;
    margin-top: 40px;
}
.AccountSetting-top-div-two{
    opacity: 0.5;
}
.AccountSetting-button{
     width: 100px;
     height: 40px;
     margin-top: 20px;
     margin-left: 25%;
 }
