*{
	margin: 0;
	padding: 0;
}
#menu_top{
	width: 100%;
	height: 35px;
	background-color: #29323e;
}
a{
	text-decoration: none;
	outline: none;
	cursor: pointer;
	transition: 1s;
}
a:hover{
	color: #038ff4;
	background-color: transparent;
}
.menu_top_s{
	float: left;
	line-height: 35px;
	color: white;
	margin-left: 24px;
}
#menu_head{
	width: 100%;
	height: 80px;
	/* border: 1px green solid; */
}
#head_1{
	width: 30%;
	height: 80px;
	float: left;
}
#head_2{
	width: 70%;
	height: 80px;
	float: right;
}
#imgs{
	width: 173px;
	height: 42px;
	background: url("../images/timg.jpg");
	background-size: 100% 100%;
	margin-top: 20px;
	margin-left: 30%;
}
#head_1>h2{
	float: right;
	margin-top: -25px;
	width: 140px;
	height: 32px;
	font-size: 14px;
	font-weight: normal;
}
.nav{
	float: left;
	padding: 25px 0 0 50px;
	list-style: none;
	font-weight: 300;
	margin-left: 50px;
	/* margin-top: -30px; */
}
#nav_x1{
	margin-top: -30px;
	padding: 25px 0 0 0;
}
#nav_x2{
	margin-top: -30px;
	padding: 25px 0 0 0;
}
#nav_x3{
	margin-top: -30px;
	padding: 25px 0 0 0;
}
#nav_x4{
	margin-top: -30px;
	padding: 25px 0 0 0;
}
.navs{
	float: left;
	/* padding: 25px 0 0 120px; */
	margin: 0;
	list-style: none;
	font-weight: 300;
	line-height: 80px;
	margin-left: 100px;
}
ul{
	display: block;
    /* list-style-type: disc; */
  /*   -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px; */
    font-weight: 300;
    font-size: 1.125em;
    line-height: 1.7em;
   /*  text-align: -webkit-match-parent; */
}
li{
	font-weight: 300;
	/* text-align: -webkit-match-parent; */
}
.nav>li{
	padding-bottom: 15px;
	float: left;
	position: relative;
	display: block;
}
.dropdown-toggle{
	color: black;
}
.dropdown-toggle>a{
	text-decoration: none;
	padding: 0 15px;
	position: relative;
	font-size: 1.25em;
	line-height: 26px;
	display: block;
}
.caret{
	border: 0;
	vertical-align: top;
	margin-left: 0;
	display: inline-block;
	width: 0;
	height: 0;
}
.imgMenuCaretDown{
	width: 8px;
	height: 5px;
}
img{
	border: 0;
	vertical-align: middle;
}
.imgMenuCaretUp{
	width: 8px;
	height: 5px;
	visibility: hidden;
}
.dropdown_menu{
	padding: 10px 0;
	background-color: #f0f0f3;
	margin-top: 0;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	left: auto;
	right: 0;
	position: absolute;
	top: 100%;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	margin: 2px 0 0;
	list-style: none;
	font-size: 16px;
	text-align: left;
	border: 1px solid rgba(0,0,0,15);
	border-radius: 4px;
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
	background-clip: padding-box;
}
.dropdown_menu>li>a{
	position: relative;
	font-size: 16px;
	font-weight: 300px;
	padding: 0 20px;
	line-height: 1.8em;
	display: block;
	/* clear: both; */
	color: #4a4a4a;
	/* white-space: nowrap; */
}
