<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
    	http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">
        
        <!-- 数据库连接 -->
        <bean id="database" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        	<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        	<property name="url" value="jdbc:mysql://localhost:3306/myfund"/>
        	<property name="username" value="root"/>
        	<property name="password" value="123456"/>
        </bean>
        
        <!-- hibernate -->
        <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <!-- hibernate数据库连接 -->
        <property name="dataSource" ref="database"></property>
        <!-- hibernate的配置属性 -->
       	<property name="hibernateProperties">
       		<value>
       			hibernate.dialect=org.hibernate.dialect.MySQLDialect
                hibernate.show_sql=true
                hibernate.format_sql=true
                hibernate.hbm2ddl.auto=create
       		</value>
       	</property>
       	<!-- hibernate扫描实体类 -->
       	<property name="packagesToScan">
       		<list>
       			<value>online.caomeng.model</value>
       		</list>
       	</property>
       	</bean>
       	
       	<!-- 事务配置：声明式事务 -->
       	<!-- 使用spring提供的事务增强 -->
       	<bean id="transaction" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
       		<property name="sessionFactory" ref="sessionFactory"></property>
       	</bean>
        
        <!-- 事务的规则 -->
        <tx:advice id="myAdvice" transaction-manager="transaction">
        	<tx:attributes>
        		<tx:method name="get*" propagation="REQUIRED" rollback-for="Exception"/>
        	</tx:attributes>
        </tx:advice>
        
        <!-- 事务的切面 -->
        <aop:config>
        	<aop:pointcut expression="execution(public * online.caomeng.server.**.*(..))" id="myPointcut"/>
        	<aop:advisor advice-ref="myAdvice" pointcut-ref="myPointcut"/>
        </aop:config>
        
        <!-- 引入spring提供的hibernate操作模板 -->
        <bean id="UserDao" class="online.caomeng.common.UserDao">
        	<property name="sessionFactory" ref="sessionFactory"></property>
        </bean>
        
        <!-- 识别dao -->
        <context:component-scan base-package="online.caomeng.dao.Impl"></context:component-scan>

</beans>