#account-middle-right-image {
    width: 100px;
    height: 100px;
    background: url("../images/avatar.jpg");
    background-size: 100% 100%;

}

#account-middle-right-div {
    width: 90%;
    height: 140px;
    margin-left: 5%;
    margin-top: 20px;
}

#account-middle-right-div hr {
    margin-top: 10px;
}

#account-middle-right-text {
    width: 100px;
    height: 60px;
    margin-left: 100px;
    margin-top: -55px;
    line-height: 30px;
    text-align: center;
}

#account-middle-right-middle {
    width: 90%;
    height: 40%;
    margin-left: 5%;
}

#account-middle-right-middle p {
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
}

#account-middle-right-middle-div {
    width: 90%;
    height: 40%;
}

.account-div {
    width: 30%;
    height: 100%;
    margin-top: 30px;
    float: left;
}

.account-div-imageone {
    width: 40%;
    height: 65%;
    background: url("../images/ucall1.png");
    background-size: 100% 100%;
    float: left;
}
.account-div-imagetwo {
    width: 40%;
    height: 65%;
    background: url("../images/ucall2.png");
    background-size: 100% 100%;
    float: left;
}
.account-div-imagethree {
    width: 40%;
    height: 65%;
    background: url("../images/ucall3.png");
    background-size: 100% 100%;
    float: left;
}

.account-div-text {
    margin-top: 30px;
}

#account-middle-right-middle-text {
    margin-top: 30px;
    width: 90%;
    height: 60%;
}

#account-middle-right-middle-text p {
    font-size: 10px;
    opacity: 0.5;
}

#account-middle-right-right {
    width: 90%;
    height: 30%;
    margin-left: 5%;
}

#account-middle-right-right-one {
    width: 90%;
    height: 20%;
    margin-top: 90px;
}

#account-middle-right-right-image {
    width: 35%;
    height: 70%;
    background: url("../images/triangle.jpg");
    background-size: 100% 100%;
    float: left;
}

#account-middle-right-right-two {
    width: 40%;
    height: 70%;
    float: left;
    margin-left: 80px;
}

#account-middle-right-right-two span {
    color: #ffaf78;
}

#account-middle-right-right-two p {
    opacity: 0.5;
}

.account-div span {
    opacity: 0.5;
}

.account-div p {
    color: #ffaf78;
}
#pay{
    float: right;
    margin-top: -80px;
    border-bottom: 1px gray solid;
}
.part_input{
    width: 200px;
    height: 35px;
    border-radius: 5px;
}