.a-1{
	width:auto;
	height:300px;
	background-color: white;
    border-radius: 10%;
    margin-left: 20%;
    margin-top: 5%;
    opacity: 0.75;
}
.a-2{
	width:auto;
	border-radius: 10%;
    margin-left: 20%;
    margin-top: 5%;
    opacity: 0.75;
}
.xz-1{
    width: auto;
    height: 300px;
    background: #1f2b3c;
    padding: 20px 0 5px;
}
.fk{
    width: 930px;
    margin-top: -300px;
    float: right;
}
.fk-1{
    list-style: none;
    color: #869791;
    float: left;
    margin-left: 60px;
}
.fk-2{
	list-style: none;
    color: #869791;
    float: left;
    margin-left: 60px;
}
.fk-3{
	list-style: none;
    color: #869791;
    float: left;
    margin-left: 60px;
}
.fk-4{
	list-style: none;
    color: #869791;
    float: left;
    margin-left: 60px;
}
.fk-5{
	list-style: none;
    color: #869791;
    float: left;
    margin-left: 60px;
}